%rebase('osnova.html', naslov='Plezališča')

<h1>Plezališča</h1>
<body>
    <table class="table table-bordered table-hover">
	   <thead class="thead-light">
		   <tr>
		       <th>Plezališče</th>
		       <th>Število smeri</th>
		       <th>Razpon težavnosti</th>
		   </tr>
		</thead>
		
		<tbody>
	     %for (ime,st_smeri,razpon_t,drzava) in plezalisca:
	       <tr>
	          <td><a href="/plezalisca/{{ime}}">{{ime}}</a></td>
	          <td>{{st_smeri}}</td>
	          <td>{{razpon_t}}</td>
	       </tr>
	     %end
		</tbody>
   </table>
</body>
