%rebase('osnova.html', naslov='Smeri')
<h1>Smeri</h1>
<body>
   <table class="table table-bordered">
	   <thead class="thead-light">
		   <tr>
		       <th>Smer</th>
		       <th>Plezališče</th>
		       <th>Težavnost</th>
		       <th>Dolžina</th>
		   </tr>
		</thead>
		
		<tbody>
	     %for (smer,plezalisce,tezavnost,dolzina) in smeri:
	       <tr>
	          <td>{{smer}}</td>
	          <td>{{plezalisce}}</td>
	          <td>{{tezavnost}}</td>
	          <td>{{dolzina}}</td>
	       </tr>
	     %end
		</tbody>
   </table>
</body>
